<style type="text/css">
<!--
@charset "UTF-8";

body {
	width: 100vw;
	height: 100vh;
	margin:0; padding:0;
}

header {
	position: fixed;
	top:0;
	display: flex;
	width: 100%;
	height: 100px;
    background: linear-gradient(-135deg, #E4A972, #9941D8); 
    opacity:0.5;
}

footer {
	position: fixed;
	bottom:0;
	width: 100%;
	height: 100px;
    background: linear-gradient(-135deg, #E4A972, #9941D8);
    opacity:0.5;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.title {
  margin-right: auto;
}

.footer-title {

}

.main-wrapper {
	width:100%;
	height:100% - 200px;
}

</style>